.pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;
   width: 100%;
}

.arrow,
.pageNumber {
   border: none;
   background-color: white;
   cursor: pointer;
}

.arrow:disabled,
.pageNumber:disabled {
   cursor: default;
}

.pageNumber {
   padding: 8px;
}

.list {
   display: flex;
   align-items: center;
   justify-content: center;
}
