* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: 'Inter', 'sans-serif';
}

.container {
   min-height: 100vh;
   padding: 24px;
}

.extra {
   font-size: 12px;
   font-weight: 400;
   line-height: 1.33;
   color: #6c7072;
}

.app {
   &.dark {
      .container {
         background-color: #23272f;

         p,
         h3,
         h4,
         h1 {
            color: #f6f7f9;
         }
      }
   }

   &.light {
      .container {
         background-color: white;

         p,
         h4,
         h3,
         h1 {
            color: black;
         }
      }
   }
}
